*.out
*.o
*.sw*
.ipynb_checkpoints
.virtual_documents
venv_main
*.aux
*.log
build/

# Ignore the mesh used for studies
mesh.in

# Ignore the main program (for now)
main.c

# Ignore the preview HTML file
TESTING.html

# Ignore solver output
input_mesh.in
results.png
solution_output.dat

# Ignore specially generated fields
special_exponential_field.dat
special_sine_field.dat

# Ignore my custom function generator
function_field_gen.py
